body {
    display: flex;
    flex-direction: column;
    justify-content:space-between; /* Center the board horizontally on the page */
    align-items: center; /* Center the board vertically on the page */
    background-color: #323437;
    color: #bec1c4;

    margin-bottom: 10px;
}

.board {
    display: flex;
    width: 400px; /* Set the fixed width of the board */
    height: 400px; /* Set the fixed height of the board */
    flex-direction: column;
    /* flex: 1; */
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
}

.configuration {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.randomize-colours-button {
    flex: 1;
}

.colour-config {
    display: flex;
}